<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>投票详情页</title>
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
    <div class="container">
        <h2>请投票</h2>

        <form action="{% url 'vote:toupiao' questions.id %}" method="post">
            <ul>
                {% for c in questions.choice_set.all %}
                    <li>{{ c.choice }}==={{ c.votes }}
                        <input type="radio" name="choice" value="{{ c.id }}" checked>
                    </li>
                {% empty %}
                    没有这个问题
                {% endfor %}

            </ul>
            <input type="submit" value="投票">
        </form>
        <br>
        {#<a href="/vote/index/">返回首页</a>#}
        <a href="{% url 'vote:index' %}">返回首页</a>
    </div>
</body>
</html>